.container {
  max-width: 85%;
}

#banner {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner .container {
  width: 100%;
}

#banner .row {
  height: 100%;
}
