<app-initial-navbar></app-initial-navbar>

<section id="banner" class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="promo-title">Turismo ESTG a melhor forma de conhecer portugal</h2>
        <ul>
          <li>Melhores experiências</li>
          <li>Acompanhamento com os melhores guias</li>
          <li>Promoções diarias</li>
          <li>Eventos gratuitos</li>
        </ul>
      </div>
      <div class="col-md-6 text-center">
        <img src="/assets/imagesUtils//pt.png" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<section id="footer" class="bg-dark bg-gradient text-white">
  <div class="container">
    <div class="col">
      <div class="d-flex flex-column">
        <h2 class="card-title text-center my-5">Entre em contato</h2>
        <div class="row">
          <div class="col-4">
            <i class="bi bi-geo-alt-fill"></i> R. do Curral, 4610-156 Margaride (Santa Eulália)
          </div>
          <div class="col-4">
            <i class="bi bi-telephone-fill"></i> +351 900 900 900
          </div>
          <div class="col-4">
            <i class="bi bi-envelope-fill"></i> turismoestg@estg.pt
          </div>
        </div>
      </div>
      <hr>
      <div class="text-center pb-5">
        <!--
          <div class="row align-items-end gx-0 pt-0 justify-content-center py-5">
          <div class="col-auto">
            <img src="/assets/imagesUtils/logo-turismo-estg.png" width="60px" height="60px">
          </div>
          <div class="col-auto">
            <h2 class="my-auto">urismo ESTG</h2>
          </div>
        </div>
        -->
        <h2 class="card-title my-5">Redes Sociais</h2>
        <div class="icons">
          <a href="#"><img src="/assets/imagesUtils//link-icon.png"></a>
          <a href="#"><img src="/assets/imagesUtils//facebook-icon.png"></a>
          <a href="#"><img src="/assets/imagesUtils//Whatsapp-icon.png"></a>
          <a href="#"><img src="/assets/imagesUtils//insta-icon.png"></a>
          <a href="#"><img src="/assets/imagesUtils//Twitter-icon.png"></a>
        </div>
      </div>
      <hr>
      <p class="text-center pb-4">© Copyright 2022-2023. Todos os direitos reservados.</p>
    </div>
  </div>
</section>