<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <!--<a class="navbar-brand" href="/">TURISMO ESTG</a>-->
        <a class="navbar-brand" href="/">
            <div class="row align-items-end gx-0 pt-0 justify-content-center mb-4">
                <div class="col-auto">
                    <img src="/assets/imagesUtils/logo-turismo-estg.png" width="60px" height="60px">
                </div>
                <div class="col-auto">
                    <h2 class="my-auto">urismo ESTG</h2>
                </div>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#banner">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#footer">Suporte</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>