<!DOCTYPE html>
<html>

<head>
  <title>TURISMO ESTG</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="icon" href="/images/imagesUtils//logo-turismo-estg.png" type="image/x-icon" />
</head>

<body>

  <!----------------NAVBAR------------------>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">TURISMO ESTG</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#banner">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#footer">Suporte</a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/auth">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!----------------BANNER------------------>

  <section id="banner">
    <img src="/images/imagesUtils//wave-down.png" class="bottom-img">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="promo-title">Turismo ESTG a melhor forma de conhecer portugal</p>
          <ul>
            <li>Melhores experiências</li>
            <li>Acompanhamento com os melhores guias</li>
            <li>Promoções diarias</li>
            <li>Eventos gratuitos</li>
          </ul>
        </div>
        <div class="col-md-6 text-center">
          <img src="/images/imagesUtils//pt.png" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <!----------------footer------------------>

  <section id="footer">

    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center">
          <p><b>Entre em contato</b></p>
          <p><i class="bi bi-geo-alt-fill"></i> R. do Curral, 4610-156 Margaride (Santa Eulália)</p>
          <p><i class="bi bi-telephone-fill"></i> +351 900 900 900</p>
          <p><i class="bi bi-envelope-fill"></i> turismoestg@estg.pt</p>
        </div>
        <div class="col-md-6 text-center">
          <p><b>Redes Sociais</b></p>
          <div class="icons">
            <a href="#"><img src="/images/imagesUtils//link-icon.png"></a>
            <a href="#"><img src="/images/imagesUtils//facebook-icon.png"></a>
            <a href="#"><img src="/images/imagesUtils//whatsapp-icon.png"></a>
            <a href="#"><img src="/images/imagesUtils//insta-icon.png"></a>
            <a href="#"><img src="/images/imagesUtils//twitter-icon.png"></a>
          </div>
        </div>

      </div>
    </div>
    <img src="/images/imagesUtils//wave-UP.png" class="footer-img">
  </section>

</body>

</html>