.row {
  padding: 5%;
  justify-content: center;
}

.btn-field {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-field button {
  flex-basis: 48%;
  background: #535353;
  color: #fff;
  height: 40px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 1s;
}

.btn-field button.disable {
  background: #eaeaea;
  color: #555;
}

input {
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 12px 12px;
}
