<!DOCTYPE html>
<html>

<head>
    <title>TURISMO ESTG</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/stylesheets/auth.css">
    <link rel="stylesheet" href="/stylesheets/errors.css">
    <link rel="icon" href="/images/imagesUtils//logo-turismo-estg.png" type="image/x-icon" />
</head>

<body>

    <!----------------NAVBAR------------------>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">TURISMO ESTG</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/#banner">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/#footer">Suporte</a>
                    </li>
                </ul>
            </div>
            <!--
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/auth">Login</a>
                    </li>
                </ul>
            </div>
            -->
        </div>
    </nav>

    <%- include ('../partials/partialErrors.ejs') %>

        <div class="container">
            <div class="form-box">
                <h1 id="title">Sign Up</h1>
                <form action="/auth/signUp" method="post">

                    <div class="input-field" id="nameField">
                        <i class="bi bi-person-fill"></i></i>
                        <input type="text" placeholder="Name" name="name" required>
                    </div>

                    <div class="input-field">
                        <i class="bi bi-envelope-fill"></i>
                        <input type="email" placeholder="Email" name="email" required>
                    </div>

                    <div class="input-field">
                        <i class="bi bi-lock-fill"></i>
                        <input type="password" placeholder="Password" name="password" required>
                    </div>
                    <div class="input-field">
                        <i class="bi bi-lock-fill"></i>
                        <input type="password" placeholder="Repete Password" name="password2" required>
                    </div>

                    <div class="btn-field">
                        <button type="submit" id="signupBtn">Sign up</button>
                    </div>

                    <div class="mt-3">
                        <p class="text-center">Already have an acount? <a class="text-info" href="/auth/">Login</a></p>
                    </div>

                </form>
            </div>
        </div>
</body>

</html>